Binaries
DerivedDataCache
Intermediate
Saved
Content/TwinmotionMaterials/LevelContent
Content/TwinmotionMaterials/Levels
Content/TwinmotionMaterials/Materials/*
!/Content/TwinmotionMaterials/Materials/Ceilings
!/Content/TwinmotionMaterials/Materials/Emissive
Content/STF
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace